<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - G.R.O.O.T</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename="fonts/fontawesome5-overrides.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/Drag--Drop-Upload-Form.css") }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/giphy.gif') }}">
</head>

<body id="page-top" style="border-color: var(--danger);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" style="font-size: 35px;font-family: Alatsi, sans-serif;color: var(--warning);">G.R.O.O.T</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#download">Essayez le maintenant</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Fonctionnalite</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(&quot;{{ url_for('static', filename="img/bg-plants.svg") }}&quot;) repeat, linear-gradient(145deg, #479f02 0%, #a96946 100%);background-size: auto, auto;">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col d-flex justify-content-center align-self-center flex-wrap">
                    <h1 class="text-center" style="font-size: 80px;width: 100%;" id="title">{% if context.job_done %}Votre résultat est disponible !{% else %}Veuillez patienter{% endif %}</h1>
                    <p id="queue_position" class="text-center" style="font-size: 25px;width: 100%;{% if context.job_done %}display: none;{% endif %}">
                        Vous etes <span id="position">{{ context.job_position }}</span>/<span id="total_jobs">{{ context.nb_jobs }}</span> dans la file
                    </p>
                    <div id="result_div">
                        {% if context.job_done %}
                            <h3>Cette image appartient probablement a la famille des {{ context.result_family }} (Confiance: {{ context.result_confidence }})</h3>
                            <div id="tweet_btn">
                                {% if not context.result_tweeted %}
                                    <a class="btn btn-primary" href="/tweet?job={{ context.job_id }}">Tweeter le résultat</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <img src="{{ url_for('static', filename="img/giphy.gif") }}" style="width: 350px;" /><br/>
                        {% endif %}
                    </div>
                    <p class="text-center" style="font-size: 25px;width: 100%">Votre image</p><br/>
                    <img style="max-width: 350px" src="{{ url_for('display_image', filename=filename) }}" alt="votre image"/>
                </div>
            </div>
        </div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename="js/new-age.js") }}"></script>
    {% if not context.job_done %}
        <script>
            const job_id = "{{ context.job_id }}";
        </script>
        <script src="{{ url_for('static', filename="js/waiting-screen.js") }}"></script>
    {% endif %}
</body>

</html>